<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reporte 3</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <% include ../partials/encabezado_privado %>

  <div class="container-fluid">

    <h1>Reporte 3</h1>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID Vehiculo</th>
              <th scope="col">Placa</th>
              <th scope="col">Hora Entrada</th>
              <th scope="col">Hora Salida</th>
              <th scope="col">Tiempo Estacionado</th>
              <th scope="col">Pago</th>
              <th scope="col">Tipo de vehiculo</th>
            </tr>
          </thead>
          <tbody>
            <% registros.forEach(registro=> { %>
            <tr>

              <th scope="row"><%=registro.id_vehiculo%></td>
              <td><%=registro.placa%></td>
              <td><%=registro.hora_entrada.toLocaleString()%></td>
              <td><%=registro.hora_salida.toLocaleString()%></td>
              <td><%=registro.total_tiempo_esta%> min</td>
              <td><%=registro.total_pago%></td>
              <td><%=registro.ntipo_veh%></td>

            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>


  </div>

  <% include ../partials/pie %>
  <script src="/javascripts/script.js"></script>
</body>

</html>