<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reporte 3</title>
  <link rel="stylesheet" href="/stylesheets/estilos.css">
  <link rel="stylesheet" href="/stylesheets/mini-default.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <% include ../partials/encabezado_privado %>

  <div class="container-fluid">

    <h1>Reporte 3</h1>

    <div class="row">
      <div class="col-sm-12">
        <form class="buscador" action="/admin/reporte3generado">
          <!--Se crea un buscador que recibira unas fechas y el tipo de vehiculo que luego enviara al servidor-->
          <label for="fecha1">Fecha 1</label>
          <input type="date" id="fecha1" name="fecha1" value="<%=fecha1%>" style="width: 33%;" />

          <label for="fecha2">Fecha 2</label>
          <input type="date" id="fecha2" name="fecha2" value="<%=fecha2%>" style="width: 33%;" />

          <label for="t_veh">Tipo Vehiculo</label>
          <input list="list_t_veh" name="t_veh" id="t_veh" required="true" style="width: 33%;">
          <datalist id="list_t_veh">
            <option value="1">Auto Particular</option>
            <option value="2">Motocicleta</option>
            <option value="3">Bicicleta</option>
            <option value="4">Pesado</option>
            <option value="5">Auto Oficial</option>
          </datalist>

          <button type="submit"><span class="icon-search"></span>Buscar</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">                                                       <!--Se crea una tabla con los datos deseados-->
          <thead>
            <tr>
              <th scope="col">ID Vehiculo</th>
              <th scope="col">Placa</th>
              <th scope="col">Hora Entrada</th>
              <th scope="col">Hora Salida</th>
              <th scope="col">Tiempo Estacionado</th>
              <th scope="col">Pago</th>
              <th scope="col">Tipo de vehiculo</th>
            </tr>
          </thead>
          <tbody>
            <% registros.forEach(registro=> { %>                                    <!--Por cada vehiculo en la lista que dio el servidor se crea una fila con los datos-->
            <tr>

              <th scope="row"><%=registro.id_vehiculo%></td>
              <td><%=registro.placa%></td>
              <td><%=registro.hora_entrada.toLocaleString()%></td>
              <td><%=registro.hora_salida.toLocaleString()%></td>
              <td><%=registro.total_tiempo_esta%> min</td>
              <td><%=registro.total_pago%>$</td>
              <td><%=registro.ntipo_veh%></td>

            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>


  </div>

  <% include ../partials/pie %>
  <script src="/javascripts/script.js"></script>
</body>

</html>